<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/scripts/flipclock/flipclock.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"35438b3e-30cc-4706-9c29-1991a118af11"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <div class="well">

                    <h4>House Rules</h4>
                    <ul>
                        <li>
                            Each table with have a Proctor to keep time, keep score, referee and make third party judgement calls
                        </li>
                        <li>
                            Scenario topics are defined one-level down from a core product feature
                            <ul>
                                <li>
                                    Ie., Web App Auto-scale vs Web App
                                </li>
                            </ul>
                        </li>

                        <li>
                            Each table is divided into two teams of players
                        </li>
                        <li>
                            The drawing player rotates through each team player for each round
                        </li>
                        <li>
                            For each round:
                            <ul>
                                <li>
                                    A scenario card is selected at random
                                </li>
                                <li>
                                    The drawing player from each team concurrently draw the scenario
                                </li>
                                <li>
                                    Drawing player is permitted 1-minute to draw the scenario while other players on their team guess the full name of the scenario
                                </li>
                            </ul>
                        </li>
                        <li>
                            Each game is 15-mins in duration
                            <ul>
                                <li>
                                    Team with highest # of accumulated points at end of each game wins that game
                                </li>
                                <li>
                                    At the end of each 15-min game, one team from each table rotates to another table
                                </li>
                            </ul>
                        </li>
                        <li>
                            Passing / Vetoes
                            <ul>
                                <li>
                                    <strong>Not allowed</strong>
                                </li>
                            </ul>
                        </li>

                        <li>
                            Writing words, letters, numbers
                            <ul>
                                <li>
                                    Drawing players may ONLY write or draw words, letters or numbers that other players on their team have first guessed and that are part of the overall scenario name on the currently selected card.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - US DX ISV Cloud Pictionary</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/scripts/flipclock/flipclock.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script>

    var clock = $('.your-clock')
        .FlipClock(60,
        {
            countdown: true,
            clockFace: 'MinuteCounter',
            autoStart: false,

            onStop: function () {
                var buzzer = new Audio('/Content/buzz.mp3');
                buzzer.play();
            }
        });
    $('#clockStart').click(function (e) {
        clock.start();
    });

    $('#clockStop').click(function (e) {
        clock.stop();
    });

    $('#clockReset').click(function (e) {
        clock.reset();
    });


</script>
</body>
</html>
