@model dx.pictionary.app.Controllers.GameViewModel

@{
    ViewBag.Title = @Model.Title;
}
<div class="row">
    <div class="col-lg-12">
        <h2>@Model.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="@Model.CategoryStyle">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Keyword.Category</h3>
            </div>
            <div class="panel-body">
                <h4><strong>@Model.Keyword.RowKey</strong></h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="btn-group btn-group-justified">
            <a href="#" id="clockStart" class="btn btn-default">Start</a>
            <a href="#" id="clockStop" class="btn btn-default">Stop</a>
            <a href="#" id="clockReset" class="btn btn-default">Reset</a>
        </div>
    </div>
</div>
<div class="row form-horizontal">
    &nbsp;
</div>
<div class="row form-horizontal">
    <div class="col-lg-12">
        <div class="your-clock"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="pager">
            @{
                var prevClass = Model.Index <= 0 ? "previous disabled" : "previous";
                var nextClass = Model.Index >= 19 ? "next disabled" : "next";
            }
            <li class="@prevClass">@Html.ActionLink("LAST", "Game", "Home", new {id = Model.GameId, @index = Model.Index - 1}, null)</li>
            <li class="@nextClass">@Html.ActionLink("NEXT", "Game", "Home", new {id = Model.GameId, @index = Model.Index + 1}, null)</li>
        </ul>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <a href="/home/index" class="btn btn-default btn-lg btn-block">Exit Game</a>
    </div>
</div>